<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!--namespace表示命名空间，唯一  -->
<mapper namespace="com.itheima.mapper.ProductMapper">
	<select id="findProductById" parameterType="Integer" 
	resultType="Product">
		select * from tb_product where id in(
		select product_id from tb_ordersitem where orders_id=#{id}
		)	
	</select>
</mapper>

